<launch>
  <node pkg="lighthouse_navigation" type="reflector_recognize" name="reflector_recognize" output="screen">

    <param name="belt_scan_index_extend_angle"                 value="5.0"   type="double"/>
    <param name="min_intensite_consider_reflector_point"       value="3000"  type="int"/>
    <param name="min_point_num_consider_belt"                  value="7"     type="int"/>
    <param name="max_detecte_angle_belt_to_laser"              value="60.0"  type="double"/>
    <param name="max_detecte_distance_belt_to_laser"           value="7.0"   type="double"/>
    <param name="max_tolerate_diff_distance_belt_to_laser"     value="0.1"   type="double"/>
    <param name="max_tolerate_diff_belt_length_detected"       value="0.2"   type="double"/>

  </node>
</launch>
